.redes {
  height: 180px;
}

.comunicacao {
  margin-top: 15px;
  text-align: center;
}

.trabalhe {
  padding-top: 5px;
  width: 290px;
  height: -0px;
  vertical-align: top;
  text-align: center;
}

.trabalhe_conosco {
  margin-top: 5px;
  width: 290px;
  height: auto;
  text-align: center;
}

.redes_sociais {
  width: 4%;
  height: 4%;
  min-height: 40px;
  min-width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.ali {
  display: flex;
  filter: invert(100%);
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
}

.ali_rede {
  width: 150px;
  display: flex;
  padding-top: 10px;
  margin: auto;
}

#siga {
  padding-top: 2%;
  display: flex;
  align-content: center;
  vertical-align: middle;
  align-items: center;
}

.fale_conosco {
  font-size: 16px;
  height: 200px;
  width: 350px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  margin-left: 0px;
  margin-right: 50px;
}
